

.title {
  input {
    font-size: 2rem;
    font-weight: 900;
  }
}

.image {
  display: block;
  width: 80%;
  margin: 1rem auto;
}

.editor {
  margin: 2rem -2rem;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 1.2rem;
      color: var(--black);
    }
    .editor-toolbar {
      border: 0;
      background-color: var(--golden);
      color: var(--black);
    }
  }
}

.buttons {
  display: flex;
  button {
    margin-right: 1rem;
    transition: all 0.3s ease-in;
  }
  .cancel {
    color: var(--red);
    border: 1px solid var(--red);
    &:hover {
      color: #fff;
      background-color: var(--red);
    }
  }
  .submit {
    color: var(--golden);
    border: 1px solid var(--golden);
    &:hover {
      color: #fff;
      background-color: var(--golden);
    }
  }
}
button.download {
  color: var(--golden);
  border: 1px solid var(--golden);
  &:hover {
    color: #fff;
    background-color: var(--golden);
  }
}
