.Header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background: rgb(244, 235, 208, 0.3);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1.5rem;
  }

  .logo {
    font-size: clamp(1.8rem, 4vw, 2.3rem);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: var(--black);
    text-align: center;
    margin: 0;
    white-space: nowrap;

    span {
      color: #d0af51;
      font-weight: 400;
    }

    @media screen and (max-width: 550px) {
      font-size: 2rem;
      text-align: center;
      margin-left: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 480px) {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    .button {
      padding: 0.5rem 1.3rem;
      outline: none;
      white-space: nowrap;
      border-radius: 0.2rem;
      background: #fff;
      color: var(--golden);
      text-transform: uppercase;
      border: 1px solid var(--golden);

      &:hover {
        background: var(--golden);
        color: #fff;
        border: 1px solid transparent;
      }

      @media screen and (max-width: 450px) {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
      }
    }

    .logout {
      padding: 0.5rem 1.3rem;
      outline: none;
      border-radius: 0.2rem;
      background: #fff;
      color: var(--red);
      text-transform: uppercase;
      border: 1px solid var(--red);

      &:hover {
        background: var(--red);
        color: #fff;
        border: 1px solid transparent;
      }
    }
  }

  .userActions {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 480px) {
      flex-direction: column;
      width: 100%;
    }

    .avatarBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        object-fit: cover;
      }

      span {
        font-size: 0.7rem;
      }
    }
  }
}